@use 'sass:math';
/* about */
.about-area {
  .inner {
    padding: 0;
  }
}
.about-wrap {
  .greeting {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6rem;
    .summary {
      h3 {
        font-size: 4rem;
      }
    }
    .portrait-wrap {
      flex-shrink: 0;
      width: 36rem;
      height: 36rem;
      margin-top: 8rem;
      background: #c4d0e8 url(./static/img/about/mimoji_flip.png) center bottom -3rem / 70% no-repeat;
      border: 1px solid #ccc;
      border-radius: 50%;
      animation: flip_image 3.5s infinite alternate;
    }
  }
  hr {
    margin: 3.6rem 2rem 0;
  }
  .about-box {
    display: flex;
    flex-direction: column;
    gap: 14rem;
    padding: 4rem 2rem;
    justify-content: flex-start;
    .detail-wrap {
      display: flex;
      width: 100%;
    }
    h4 {
      flex-shrink: 0;
      width: 20rem;
      color: #ccc;
      font-weight: 400;
    }
    &.ty-2 {
      flex-direction: row;
      gap: 0;
    }
    .experience-detail {
      flex: 1;
      &.ty-2 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 6rem);
        gap: 4rem 2rem;
        h5 {
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
        }
      }
      h5 {
        display: flex;
        justify-content: space-between;
        margin-bottom: 0.6rem;
        font-size: 1.6rem;
        .date {
          font-size: 1.4rem;
          font-weight: normal;
          color: #ccc;
        }
      }
      p {
        margin-bottom: 2.4rem;
        font-size: 1.4rem;
      }
      .skills-box {
        position: relative;
        height: 6rem;
        padding-left: 8rem;
        &::before {
          content: '';
          position: absolute;
          left: 0;
          width: 6rem;
          height: 6rem;
          background-size: 6rem 6rem;
          background-position: left center;
          background-repeat: no-repeat;
        }
        &:nth-child(1)::before {
          background-image: url(/static/img/about/HTML_logo.svg);
        }
        &:nth-child(2)::before {
          background-image: url(/static/img/about/CSS3_logo.svg);
        }
        &:nth-child(3)::before {
          background-image: url(/static/img/about/javascript_logo.svg);
        }
        &:nth-child(4)::before {
          background-image: url(/static/img/about/jquery_logo.svg);
        }
        &:nth-child(5)::before {
          background-image: url(/static/img/about/Vue_logo.svg);
        }
        &:nth-child(6)::before {
          background-image: url(/static/img/about/WordPress_logo.svg);
        }
        &:nth-child(7)::before {
          background-image: url(/static/img/about/github_logo.svg);
        }
        &:nth-child(8)::before {
          background-image: url(/static/img/about/Subversion_logo.svg);
        }
        &:nth-child(9)::before {
          background-image: url(/static/img/about/Figma_logo.svg);
        }
      }
    }
  }
}

/* ==========================================================================
	Media Queries for Responsive Design. (미디어 쿼리 분기점)
========================================================================== */
@media only screen and (max-width: 625px) {
  .about-wrap {
    .about-box {
      &.ty-2 {
        flex-direction: column;
      }
      .detail-wrap {
        flex-direction: column;
      }
      h4 {
        margin-bottom: 4rem;
      }
    }
    .greeting {
      gap: 4rem;
      .summary {
        h3 {
          font-size: 3.2rem;
        }
      }
      .portrait-wrap {
        width: 28rem;
        height: 28rem;
      }
    }
  }
}
/* 테블릿 */
@media only screen and (min-width: 1025px) {
  .about-area {
    .sub-tit {
      padding-left: 18rem;
    }
  }
  .about-wrap {
    .about-box {
      padding: 4rem 18rem;
      .experience-detail {
        &.ty-2 {
          grid-template-columns: repeat(3, 1fr);
          grid-template-rows: repeat(2, 6rem);
          gap: 4rem 2rem;
        }
      }
    }
    hr {
      margin: 3.6rem 18rem 0;
    }
  }
}

/* PC */
@media only screen and (min-width: 1280px) {
  /* about */
  .about-area {
    .sub-tit {
      padding-left: 24rem;
    }
  }
  .about-wrap {
    .about-box {
      padding: 4rem 24rem;
      .experience-detail {
        &.ty-2 {
          grid-template-columns: repeat(3, 1fr);
          grid-template-rows: repeat(2, 6rem);
          gap: 4rem 2rem;
        }
      }
    }
    hr {
      margin: 3.6rem 24rem 0;
    }
  }
}
@media only screen and (min-width: 1300px) {
  .about-wrap {
    .about-box {
      .experience-detail {
        &.ty-2 {
          grid-template-columns: repeat(3, 1fr);
          grid-template-rows: repeat(2, 6rem);
          gap: 4rem 2rem;
        }
      }
    }
  }
}
@media only screen and (min-width: 1400px) {
  .about-wrap {
    .greeting {
      flex-direction: row;
      gap: 10rem;
      .portrait-wrap {
        margin-left: 24rem;
      }
    }
    .about-box {
      .experience-detail {
        &.ty-2 {
          grid-template-columns: repeat(4, 1fr);
          grid-template-rows: repeat(2, 6rem);
          gap: 4rem 2rem;
        }
      }
    }
  }
}
@media only screen and (min-width: 1600px) {
  .about-wrap {
    .about-box {
      .experience-detail {
        &.ty-2 {
          grid-template-columns: repeat(5, 1fr);
          grid-template-rows: repeat(2, 6rem);
          gap: 4rem 2rem;
        }
      }
    }
  }
}

@media only screen and (min-width: 1750px) {
  .about-wrap {
    .about-box {
      flex-direction: row;
      .detail-wrap {
        width: 50%;
      }
      .experience-detail {
        &.ty-2 {
          grid-template-columns: repeat(2, 1fr);
          grid-template-rows: repeat(5, 6rem);
          gap: 2rem 2rem;
        }
      }
    }
  }
}

@keyframes flip_image {
  from {
    background: #c4d0e8 url(/static/img/about/mimoji_flip.png) center bottom -3rem / 70% no-repeat;
  }
  to {
    background: #c4d0e8 url(/static/img/about/mimoji.png) center bottom -3rem / 70% no-repeat;
  }
}
