@use 'sass:math';
/* about */
.about-area {
  .inner {
    padding: 0;
  }
}
.about-wrap {
  color: $white-color;
  .greeting {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 8rem;
    padding: 0 2rem;
    gap: 6rem;
    .summary {
      width: 100%;
      text-align: center;
      h3 {
        font-size: 4rem;
        margin-bottom: 2.4rem;
      }
      .detail-wrap {
        display: flex;
        flex-direction: column;
        h4 {
          flex-shrink: 0;
          width: 20rem;
          margin-bottom: 4rem;
          color: #ccc;
          font-weight: 400;
          text-align: left;
        }
        .skills-wrap {
          display: grid;
          gap: 2rem;
          grid-template-columns: repeat(4, 1fr);
          .skills-box {
            display: flex;
            align-items: center;
            flex-direction: column;
            gap: 1.6rem;
            img {
              width: 5.4rem;
              height: 5.4rem;
              &.in-normal {
                display: none;
              }
              &.in-dark {
                display: block;
              }
            }
          }
        }
      }
      hr {
        margin: 2.4rem 0;
      }
    }
    .portrait-wrap {
      flex-shrink: 0;
      width: 36rem;
      height: 36rem;
      background: #c4d0e8 url(./../img/about/mimoji2.png) right 2rem center / 95% no-repeat;
      // background: #c4d0e8 url(./../img/about/mimoji2.png) center bottom -3rem / 60% no-repeat;
      border-radius: 50%;
      // animation: flip_image 3.5s infinite alternate;
    }
  }
  hr {
    margin: 2.4rem 2rem 0;
  }
  .about-box {
    display: flex;
    flex-direction: column;
    gap: 14rem;
    padding: 4rem 2rem 0;
    justify-content: flex-start;
    .detail-wrap {
      display: flex;
      width: 100%;
    }
    h4 {
      flex-shrink: 0;
      width: 20rem;
      color: #ccc;
      font-weight: 400;
    }
    .experience-detail {
      width: 100%;
      flex: 1;
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: repeat(2, 1fr);
      gap: 4rem 6rem;
      h5 {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-bottom: 0.6rem;
        font-size: 1.8rem;
        .date {
          font-size: 1.4rem;
          font-weight: normal;
          color: #ccc;
        }
      }
      p {
        font-size: 1.6rem;
      }
    }
  }
}

/* ==========================================================================
	Media Queries for Responsive Design. (미디어 쿼리 분기점)
========================================================================== */
@media only screen and (max-width: 625px) {
  .about-wrap {
    .about-box {
      .detail-wrap {
        flex-direction: column;
      }
      h4 {
        margin-bottom: 4rem;
      }
    }
    .greeting {
      gap: 4rem;
      .summary {
        h3 {
          font-size: 3.2rem;
        }
      }
      .portrait-wrap {
        width: 28rem;
        height: 28rem;
      }
    }
  }
}
@media only screen and (min-width: 625px) {
  .about-wrap {
    .greeting {
      .summary {
        .detail-wrap {
          flex-direction: row;
          .skills-wrap {
            grid-template-columns: repeat(5, 1fr);
          }
        }
      }
    }
    .about-box {
      .experience-detail {
        h5 {
          flex-direction: row;
        }
      }
    }
  }
}
@media only screen and (min-width: 750px) {
  .about-wrap {
    .greeting {
      .summary {
        .detail-wrap {
          .skills-wrap {
            gap: 4rem;
            grid-template-columns: repeat(5, 1fr);
          }
        }
      }
    }
  }
}
/* 테블릿 */
@media only screen and (min-width: 1025px) {
  .about-area {
    .sub-tit {
      padding-left: 18rem;
    }
  }
  .about-wrap {
    color: $black-color;
    .greeting {
      padding: 4rem 18rem;
      .summary {
        .detail-wrap {
          .skills-wrap {
            grid-template-columns: repeat(5, 1fr);
            .skills-box {
              img {
                &.in-normal {
                  display: block;
                }
                &.in-dark {
                  display: none;
                }
              }
            }
          }
        }
      }
    }
    .about-box {
      padding: 4rem 18rem;
    }
    hr {
      margin: 3.6rem 18rem 0;
    }
  }
}

/* PC */
@media only screen and (min-width: 1280px) {
  /* about */
  .about-area {
    .sub-tit {
      padding-left: 24rem;
    }
  }
  .about-wrap {
    .about-box {
      padding: 4rem 24rem;
    }
    .greeting {
      padding: 4rem 24rem;
      .summary {
        .detail-wrap {
          .skills-wrap {
            grid-template-columns: repeat(6, 1fr);
          }
        }
      }
    }
    hr {
      margin: 3.6rem 24rem 0;
    }
  }
}
@media only screen and (min-width: 1400px) {
  .about-wrap {
    .greeting {
      flex-direction: row;
      padding: 0 24rem;
      gap: 10rem;
      .summary {
        text-align: left;
        .detail-wrap {
          flex-direction: column;
          .skills-wrap {
            grid-template-columns: repeat(5, 1fr);
            gap: 2rem;
          }
        }
        p {
          font-size: 1.8rem;
        }
      }
    }
  }
}
@media only screen and (min-width: 1500px) {
  .about-wrap {
    .about-box {
      .experience-detail {
        grid-template-columns: repeat(2, 1fr);
      }
    }
  }
}
@media only screen and (min-width: 1750px) {
  .about-wrap {
    .greeting {
      .summary {
        .detail-wrap {
          .skills-wrap {
            grid-template-columns: repeat(9, 1fr);
          }
        }
      }
    }
    .about-box {
      flex-direction: row;
    }
  }
}

// @keyframes flip_image {
//   from {
//     background: #c4d0e8 url(./../img/about/mimoji_flip.png) center bottom -3rem / 70% no-repeat;
//   }
//   to {
//     background: #c4d0e8 url(./../img/about/mimoji.png) center bottom -3rem / 70% no-repeat;
//   }
// }
