@use 'sass:math';
.view-contents {
  padding: 6rem 2.4rem;
}
.contents-cell {
  padding-top: 6rem;
  .con-tit {
    margin-bottom: 2rem;
    font-size: 3.6rem;
    line-height: 4.2rem;
    font-weight: 800;
    text-transform: uppercase;
  }
  .con-sub-tit {
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 2.5rem;
    text-transform: uppercase;
    &.-pink {
      margin-bottom: 2rem;
    }
    strong {
      display: block;
      line-height: 2.8rem;
      text-align: center;
      + span {
        display: block;
        font-weight: 500;
        line-height: 2.4rem;
        font-size: 1.4rem;
        color: #555;
        text-align: center;
      }
    }
  }
  p {
    font-size: 1.6rem;
    font-weight: 500;
    color: #444;
    line-height: 2.5rem;
    text-transform: uppercase;
    + p {
      margin-top: 3rem;
    }
    + .con-sub-tit {
      margin-top: 3.2rem;
    }
  }
  .round-box {
    padding: 3.2rem 2rem;
    border-radius: 1.2rem;
    background-color: #f9f9f9;
    text-align: center;
    .round-content {
      p {
        font-weight: 500;
        font-size: 1.6rem;
        line-height: 2.4rem;
        text-align: left;
      }
      .txt {
        margin-bottom: 0.6rem;
        font-weight: 700;
        font-size: 1.6rem;
        line-height: 2.4rem;
        text-transform: uppercase;
        text-align: left;
        &.-red {
          color: $red-color;
        }
        &.-green {
          color: $green-color;
        }
      }
      + .badge {
        margin-top: 3.2rem;
      }
      > strong {
        margin-bottom: 2rem;
        display: block;
        font-size: 1.8rem;
        font-weight: 700;
        line-height: 2.8rem;
      }
    }
    blockquote {
      font-size: 1.8rem;
      font-weight: 600;
      line-height: 2.8rem;
      text-align: center;
      text-transform: uppercase;
      cite {
        display: block;
        margin-top: 3rem;
        font-size: 1.4rem;
        font-weight: 500;
        line-height: 2.4rem;
        color: #555;
        font-style: normal;
      }
    }
    img {
      width: calc(100% + 1rem);
      margin-left: -0.5rem;
      &.-device {
        width: 19rem;
      }
      &.-button {
        width: 25rem;
      }
      + .round-content {
        margin-top: 1.5rem;
      }
    }
    .img-flex-box {
      .img-cell {
        + .img-cell {
          margin-top: 6rem;
        }
      }
    }
    .word-list {
      text-align: left;
      font-size: 1.6rem;
      line-height: 2.4rem;
      dt {
        margin-top: 1.2rem;
        color: #f84773;
        font-weight: 700;
      }
      dd {
        font-weight: 500;
        color: #555;
      }
    }
    + p {
      margin-top: 2rem;
    }
    + .round-box,
    + .-pink {
      margin-top: 3.2rem;
    }
  }
  .badge {
    margin-bottom: 2rem;
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 2.1rem;
    text-align: center;
    text-transform: capitalize;
    span {
      display: inline-block;
      padding: 0.4rem 1.5rem 0.4rem 1rem;
      border-radius: 1.2rem;
      &::before {
        content: '';
        display: inline-block;
        width: 2rem;
        height: 2rem;
        vertical-align: bottom;
      }
    }
    &.-bad {
      color: $red-color;
      span {
        background-color: rgba(255, 0, 0, 0.1);
        &::before {
          content: '';
          background: url(../img/uxwriting/ico-red-bad.png) no-repeat 0 0 / cover;
        }
      }
    }
    &.-good {
      color: $green-color;
      span {
        background-color: rgba(0, 169, 27, 0.1);
        &::before {
          background: url(../img/uxwriting/ico-green-good.png) no-repeat 0 0 / cover;
        }
      }
    }
  }
}

/* ==========================================================================
	Media Queries for Responsive Design. (미디어 쿼리 분기점)
========================================================================== */
/* 태블릿 */
@media only screen and (min-width: 1025px) {
  .view-contents {
    padding: 8.8rem 14rem 14rem;
  }
  .contents-cell {
    .con-tit {
      margin-top: 6rem;
      margin-bottom: 3.2rem;
      font-size: 5rem;
      line-height: 5.9rem;
      font-weight: 800;
    }
    .con-sub-tit {
      font-size: 2.4rem;
      line-height: 3.2rem;
      strong {
        font-size: 2.6rem;
        line-height: 2.8rem;
        + span {
          margin-top: 1rem;
          font-size: 1.6rem;
          line-height: 2.8rem;
        }
      }
      &.-pink {
        margin-bottom: 3.2rem;
      }
    }
    p {
      font-size: 2rem;
      line-height: 3.2rem;
      font-weight: 500;
      + .con-sub-tit {
        margin-top: 3.5rem;
        &.-pink {
          margin-top: 6rem;
        }
      }
    }
    .round-box {
      padding: 6rem;
      border-radius: 2rem;
      blockquote {
        font-size: 2.4rem;
        line-height: 3.6rem;
        cite {
          font-size: 2rem;
          line-height: 3.2rem;
        }
      }
      img {
        &.-button {
          width: -vw(390);
          height: -vw(110);
        }
        &.-popup {
          width: -vw(490);
        }
        &.-device {
          width: -vw(340);
        }
        &.-toss {
          width: -vw(910);
        }
      }
      .word-list {
        display: flex;
        justify-content: center;
        gap: -vw(80);
        margin-top: 2.2rem;
        font-size: 2rem;
        line-height: 2.8rem;
        .cell {
          width: -vw(415);
        }
        dl {
          display: flex;
          gap: 0.6rem;
          + dl {
            margin-top: 0.6rem;
          }
        }
        dt {
          margin-top: 0;
        }
      }
      .img-flex-box {
        display: flex;
        padding: 10rem 0;
        .img-cell {
          flex: 1;
          + .img-cell {
            margin-top: 0;
          }
        }
      }
      .round-content {
        margin-top: 1.7rem;
        .txt {
          font-size: 2.4rem;
          line-height: 3.2rem;
        }
        p {
          font-size: 2rem;
          line-height: 3.2rem;
        }
        > strong {
          font-size: 2.4rem;
          line-height: 2.8rem;
        }
      }
      + p {
        margin-top: 3.2rem;
      }
      + .-pink {
        margin-top: 6rem;
      }
    }
    .badge {
      span {
        padding: 0.5rem 2.2rem 0.5rem 1.7rem;
        border-radius: 2rem;
        font-size: 2rem;
        line-height: 2.3rem;
        vertical-align: middle;
        &::before {
          width: 3.2rem;
          height: 3.2rem;
          vertical-align: middle;
        }
      }
    }
  }
}

/* pc */
@media only screen and (min-width: 1280px) {
  .view-contents {
    padding: 18.8rem 24rem 24rem;
  }
  .contents-cell {
    .round-flex-box {
      display: flex;
      .round-box {
        margin: 0;
        flex: 1;
        &:first-child {
          padding-right: 3rem;
          border-top-right-radius: 0;
          border-bottom-right-radius: 0;
        }
        &:last-child {
          padding-left: 3rem;
          border-top-left-radius: 0;
          border-bottom-left-radius: 0;
        }
      }
    }
  }
}
